<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Corona X-Ray AI</title>


</head>

<style>
    h1,
    p {
        color: white;
    }
    
    bg {
        background-image: url("{{url_for('static', filename='xray.png')}}");
    }
</style>

<body>

    <div class="container-fluid" style="background-image: url({{ url_for('static', filename='xray.png') }})">
        <nav class="navbar navbar-expand-lg navbar-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{{url_for('static', filename='usp.jpg')}}" height="50" alt="">
                </a>
                <a class="navbar-brand" href="#">
                    <img src="{{url_for('static', filename='ifsc.jpg')}}" height="75" alt="">
                </a>


            </div>
        </nav>


        <div class="container-fluid">
            <div class="container py-5 ">
                <header class="text-center text-black py-5 ">
                    <h1 class="display-4 font-weight-bold mb-4">Corona X-Ray AI</h1>
                    <p class="lead mb-0 ">This site use AI to identify covid19 in X-Ray images</p>
                </header>

                <center>
                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <span class="btn btn-default btn-file">
                              Put your X-Ray Image here <center><input type="file" name="image"></center>
                            </span>

                        <input type="submit" value="Upload your image" class="btn btn-primary">
                    </form>
            </div>
            </center>
        </div>

        <br>
        <br>

        <div class="row" id="row1'">
            <div class="col-6">
                <p> This site aims to diagnose covid19 cases by analysing the X-Ray images, the image that you upload in this site go to our database to continue to improve the AI</p>
            </div>
            <div class="col-6">
                <p> Bear in mind that you should not use this as a definity prove, It's always better to have more reliable source of data to make this kind of decision, you may only use this as last resource</p>
            </div>

        </div>

        <br>
        <br>
    </div>


</body>

</html>

</html>